# Configuración de la Base de Datos
# Estos valores coinciden con el docker-compose.yml por defecto
DB_USER=jotazz
DB_PASS=Colombia2025.
DB_NAME=library_db
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql

# Configuración del Servidor
PORT=5000
NODE_ENV=development

